# windows-simple-zstd

这是一个致力于让 windows 用户更加容易使用 zstd 进行压缩和解压的工具。它可以为你的 windows 系统添加右键菜单，右键需要压缩的文件夹/文件，选择对应选项即可进行压缩，默认使用 zstd 的最高压缩级别。

本系统的一大特点是可以流式进行压缩与解压，即不需要用户先将 .tar.zst 解压为 .tar 文件，然后再进行 tar 解压。

压缩时尽可能使用多核 CPU 并行压缩，减少时长。

本项目需要合理模块化，文件结构清晰。
